html
	head
		style.
			body{
				background-color: #ddd;
				text-align:center;
			}
			#container{
				margin: auto;
			}
	body
		#container
			h1 Rov Connected
			
			ul(data-bind="template: {name: 'controller', foreach: controllers}")
			
			script#controller(type="text/html")
				p(data-bind="text: 'Controller: '+device")
			
		#scripts
			script(src="/js/jquery.js")
			script(src="/js/knockout.js")
			script(src="/socket.io/socket.io.js")
			script(src="/home/js/home.js")