html
	head
		style.
			body{
				background-color: #ddd;
				text-align:center;
			}
			#container{
				margin: auto;
			}
	body
		#container
		
		script(src="/js/swfobject.js")
		script.
			swfobject.embedSWF("XBoxClient.swf", "container", "1000", "600", "11.0.0");
		